extends layout

block layout-content
 div.View.WelcomeView
  div.View
    h1.Banner Nature, Food, and Pets
    div.Message
      div.Title
        h3 Doing things and keeping busy
        h1 Anything more than food?
      span.Details Access Jordan's Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!